html,
body {
  background: #eee;
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  display: flex;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

#__nuxt {
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}
